<tbody>
    @for(producto of arrayProductos; track producto.SKU) {
         <tr>
                    <td class="d-flex flex-column celda">
                        <span>{{producto.title}}</span>
                        <span>{{producto.SKU}}</span>
                    </td>
                    <td><span>{{producto.price}}</span></td>
                    <td class="d-flex flex-row justify-content-evenly">
                        <button class="btn btn-outline-secondary">-</button>
                        <span>0</span>
                        <button class="btn btn-outline-secondary">+</button>
                    </td>
                    <td>
                    </td>
                </tr>
    }
</tbody>