<section class="mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      @for (producto of arrayProductos; track $index) {
        <tr>
          <td>{{ producto.title }}</td>
            <td>
                <button (click)="restarCantidad(producto)">-</button>
                <input type="number" [(ngModel)]="producto.cantidad" min="1" />
                <button (click)="sumarCantidad(producto)">+</button>
            </td>
          <td>{{ producto.price }}{{currency}}</td>
            <td>{{ producto.price * (producto.cantidad || 1) }}{{currency}}</td>
        </tr>
      }
    </tbody>
  </table>
</section>
