<div class="container my-4">
    <div class="card shadow-sm h-100">
        

        <div class="card-body">
                <img [src]="usuario.image" class="card-img-top mb-3 rounded-circle mx-auto d-block" alt="Imagen de {{usuario.first_name}}" style="width: 150px; height: 150px; object-fit: cover;">
            <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
            <p class="card-text mb-1"><strong>Apellido:</strong> {{usuario.last_name}}</p>
            <p class="card-text"><strong>Email:</strong> {{usuario.email}}</p>
            <i class="bi bi-house-door-fill" style="font-size: 2rem; color: blue;"></i>





        </div>


    </div>
</div>