<nav class="navbar navbar-expand-lg bg-light shadow-sm py-3">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-4" routerLink="/">MiBlog</a>

    <!-- Botón responsive -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto gap-2">

        <li class="nav-item">
          <a class="nav-link" >Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" >Categorías</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" >Sobre nosotros</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
