<div class="mt-5 mb-4 d-flex gap-2">
    
    <button class="btn btn-outline-primary" (click)="aplicarFiltro('')">Todos</button>
    <button class="btn btn-outline-primary" (click)="aplicarFiltro('hombre')">Hombre</button>
    <button class="btn btn-outline-primary" (click)="aplicarFiltro('mujer')">Mujer</button>
    <button class="btn btn-outline-primary" (click)="aplicarFiltro('niño')">Niño</button>
</div>

<!--<input type="number" name="precioMaximo" placeholder="precioMaximo" (event)="aplicarFiltro('')"> -->