<section class="container">

        @for (noticia of noticias; track noticia.titulo) {

        <div class="card" style="width: 18rem;">
            <img [src]="noticia.imagen" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">{{noticia.titulo}}</h5>
                <p class="card-text">{{noticia.cuerpo}}</p>
                <p class="card-text"><small class="text-body-secondary">{{ noticia.Fecha | date:'dd/MM/yyyy'}}</small></p>
            </div>
        </div>

        }

</section>